<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
</head>
<body>
    <h1>storage</h1>
    <!-- <div class="mazda">
        mazda323f(bg) 1994
        <br>Price: 3000$
        <button type="button" class="btn-add" data-id="3000">Add to card</button>
    </div>
    

    <div class="camaro">
        camaro 2012
        <br>Price: 15000$
        <button type="button" class="btn-add" data-id="15000">Add to card</button>
    </div>
    

    <div class="bmw">
        BMW M2
        <br>Price: 55000$
        <button type="button" class="btn-add" data-id="55000">Add to card</button>
    </div> -->

    <div class="mazda">
        mazda323f(bg)
        Price: 3000$
        <button type="button" class="btn-add" data-id="3000" data-name="mazda">add</button>
    </div>
    
    <div class="camaro">
        camaro 2012
        Price: 15000$
        <button type="button" class="btn-add" data-id="15000" data-name="camaro">add</button>
    </div>

    <div class="bmw">
        BMW M2
        Price: 55000$
        <button type="button" class="btn-add" data-id="55000" data-name="bmw">add</button>
    </div>

    <hr>
    <hr>

    to pay: <button type="button" class="btn-pay">pay</button>
    <script src="/js/main.js"></script>
</body>
</html>